@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: #00b7ff;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-color: #00b7ff;
}

/* table */
table {
  margin-left: auto; 
  margin-right: auto; 
  max-width: 1000px;
}

td {
  border: 0px solid rgb(220, 220, 220); /* ########## border set to 0px to remove it */
  padding: 5px;
}

p {
  margin-bottom: 20px; /* adds space after each paragraph */
}

/* dropdown menu */
.navbar {
  overflow: hidden;
  background-color: #ffffff;
}

.navbar a {
  float: left;
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(200, 200, 200);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(200, 200, 200);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.wrap-image {
  float: left; /* Places the image on the left side */
  margin: 10px 15px 10px 0; /* Adds space around the image (top, right, bottom, left) */
  width: 300px; /* Optional: set a consistent image width */
  height: auto; /* Keep image proportions */
}
